body , html , h1 , h2 , p , form {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
} 

h1 {
    font-family: 'Assistant', sans-serif;
font-family: 'Satisfy', cursive;
color: white;
font-size: 5rem;
}

h2 , p , form {
    font-family: 'Assistant', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Varela Round', sans-serif;
color: white;
}

body {
    background-image: linear-gradient(#281EFF , #2DFF8C);
    background-repeat: no-repeat;
   height: 100%;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 1rem;
    margin-top: 8rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;   
}

.form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;   
}

 input {
    background-color: rgba(255, 255, 255, 0.138);
    border: 1px solid white;
    height: 30px;
    width: 250px;
 }

 button {
    border: none;
    padding: 10px 40px ;
 }

 @media (min-width:800px){
    form {
        flex-direction: row;
        gap: 10px;
    }
    .form-control {
        align-items: flex-start; 
    } 
    button {
        margin-top: 17px;
    }    
 }

