@use "variables" as * ;


html , body{
margin: 0;
padding: 0;
font-family:$ff-primary;
height: 50%;

}

body {
   background-image: url(/kidumpink/img/pink.jpg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   


   

}

.conteiner {
   background-color: $third-color;
   color: $primary-color;
   position: absolute;
   top: 30%;
   right: 15%;
   padding:30px;
   padding-bottom: 70px;
}
.child {
   @include getflex (column,center,center,15px);
   text-align: end;
}

input {
   @include getflex (column,center,center,15px);
   width: 270px;
   height: 30px;
}

button {
   background-color: $secondary-color;
   color: $primary-color;
   border: none;
   padding: 6px 35px 6px 35px;
}

@media (max-width: 430px) {
   .conteiner {
      right: 0%;
      padding: 10%;
   }
   
}

